@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.font-rajdhani {
  font-family: 'Rajdhani', sans-serif;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%2322c55e" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
}

[dir='ltr'] ::-webkit-calendar-picker-indicator {
  margin-left: 0px;
}

[dir='ltr'] ::-webkit-calendar-picker-indicator {
  margin-right: 0px;
}

.toggle-checkbox:checked {
  border-color: #68d391;
}

[dir='ltr'] .toggle-checkbox:checked {
  right: 0;
}

[dir='rtl'] .toggle-checkbox:checked {
  left: -0;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #68d391;
}

.gauge {
  --tw-aspect-h: 1;
  --tw-aspect-w: 2;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  position: relative;
}

.gauge > * {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.gauge path {
  stroke-width: 75;
  fill: none;
}

.gauge.blue path {
  @apply stroke-sky-500;
}

.gauge.blue .percentage,
.gauge.blue .count-text {
  @apply text-sky-500;
}

.gauge.green path {
  @apply stroke-green-500;
}

.gauge.green .percentage,
.gauge.green .count-text {
  @apply text-green-500;
}

.gauge.red path {
  @apply stroke-red-500;
}

.gauge.red .percentage,
.gauge.red .count-text {
  @apply text-red-500;
}

.gauge.purple path {
  @apply stroke-indigo-500;
}

.gauge.purple .percentage,
.gauge.purple .count-text {
  @apply text-indigo-500;
}
