@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.font-rajdhani {
  font-family: 'Rajdhani', sans-serif;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%2322c55e" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
}

[dir='ltr'] ::-webkit-calendar-picker-indicator {
  margin-left: 0px;
}

[dir='ltr'] ::-webkit-calendar-picker-indicator {
  margin-right: 0px;
}

.toggle-checkbox:checked {
  border-color: #68d391;
}

[dir='ltr'] .toggle-checkbox:checked {
  right: 0;
}

[dir='rtl'] .toggle-checkbox:checked {
  left: -0;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #68d391;
}
