[type='checkbox'],
[type='radio'] {
  --tw-shadow: 0 0 #0000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-origin: border-box;
  border-color: #6b7280;
  border-width: 1px;
  color: #1c64f2;
  display: inline-block;
  flex-shrink: 0;
  height: 1rem;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 1rem;
}

[type='checkbox'] {
  border-radius: 0;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,
[type='radio']:focus {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #1c64f2;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dark [type='checkbox']:checked,
.dark [type='radio']:checked,
[type='checkbox']:checked,
[type='radio']:checked {
  background-color: currentColor;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 0.55em 0.55em;
  border-color: transparent;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 0.55em 0.55em;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.dark [type='radio']:checked,
[type='radio']:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
  background-size: 1em 1em;
}

[type='checkbox']:indeterminate {
  background-color: currentColor;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M.5 6h14'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 0.55em 0.55em;
  border-color: transparent;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

[type='checkbox']:indeterminate:focus,
[type='checkbox']:indeterminate:hover {
  background-color: currentColor;
  border-color: transparent;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%2322c55e" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
}

[dir='ltr'] ::-webkit-calendar-picker-indicator {
  margin-left: 0px;
}

[dir='ltr'] ::-webkit-calendar-picker-indicator {
  margin-right: 0px;
}

.title-line {
  width: 10rem;
  height: 0.25rem;
  margin-bottom: 0.75rem;
}

input:checked + label div {
  @apply border-indigo-500 bg-gradient-to-r from-indigo-500 to-purple-600;
}

body.shake {
  animation: shake 0.2s ease-in-out 2;
}

@keyframes shake {
  5% {
    transform: translate(7px, 7px);
  }
  10% {
    transform: translateY(-7px);
  }
  15% {
    transform: translate(-1px, 5px);
  }
  20% {
    transform: translate(-6px, 8px);
  }
  25% {
    transform: translate(-5px, -7px);
  }
  30% {
    transform: translate(6px, 7px);
  }
  35% {
    transform: translate(9px, -6px);
  }
  40% {
    transform: translate(-3px, 9px);
  }
  45% {
    transform: translate(-3px, 4px);
  }
  50% {
    transform: translate(-3px, 1px);
  }
  55% {
    transform: translate(-8px, 3px);
  }
  60% {
    transform: translate(7px, 3px);
  }
  65% {
    transform: translate(-1px);
  }
  70% {
    transform: translate(7px, -4px);
  }
  75% {
    transform: translate(-2px, -8px);
  }
  80% {
    transform: translateY(-9px);
  }
  85% {
    transform: translate(-6px, 7px);
  }
  90% {
    transform: translate(9px, 1px);
  }
  95% {
    transform: translate(-9px, 7px);
  }
  100% {
    transform: translateY(7px);
  }
}
