.git/*
.DS_Store

license
yarn.lock
.travis.yml
package-lock.json
package.json
Dockerfile

.yarnclean
.eslintignore
.prettierignore
.npmignore
.gitignore
.dockerignore

dist
build
packages/*/lib/app
consoles/*/lib/app
src/i18n/i18n-*.ts
coverage

*.ico
*.html
*.log
*.svg
*.map
*.png
*.snap
*.ttf
*.sh
*.txt
*.xml