name: lint
on:
  workflow_call:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  go:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ "1.24" ]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      #          cache: false

      - name: Copy swagger docs dummy file and Create dummy ui/dist/index.html
        run: mkdir ui/dist && touch ui/dist/index.html

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          # Require: The version of golangci-lint to use.
          # When `install-mode` is `binary` (default) the value can be v1.2 or v1.2.3 or `latest` to use the latest version.
          # When `install-mode` is `goinstall` the value can be v1.2.3, `latest`, or the hash
          version: v1.64
          args: --timeout 3m0s

  ui:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ "22.12.0" ]

    steps:
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check out code
        uses: actions/checkout@v4

      - run: npm ci --no-optional
        working-directory: ui
      - run: npm run prettier
        working-directory: ui
      - run: npm ci --no-optional
        working-directory: e2e
      - run: npm run prettier
        working-directory: e2e