name: test

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  go:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [ "1.20" ]

    steps:
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Copy swagger docs dummy file and Create dummy dist/index.html
        run: mkdir swaggerdocs && cp build/swaggerdocs_dummy.go swaggerdocs/docs.go && mkdir dist && touch dist/index.html

      - name: Test
        run: go test `go list ./... | grep -v swaggerdocs`