name: test

on:
  workflow_call:

jobs:
  go:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [ "1.26" ]

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Copy swagger docs dummy file and Create dummy ui/dist/index.html
        run: mkdir ui/dist && touch ui/dist/index.html

      - name: Test
        run: go test `go list ./... | grep -v docs/swagger`

  ui:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ "24.13" ]

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        working-directory: ui
        run: npm ci

      - name: Install Playwright browsers
        working-directory: ui
        run: npx playwright install --with-deps

      - name: Run UI tests
        working-directory: ui
        run: npm test